* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.div_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 54px auto auto auto;
}

.tabela_legenda {
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px double black;
    color: black;
}

.legenda {
    margin: auto;
    font-size: 20px;
}

.formulario_cadastro {
    margin: auto;
}

input {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    background-color: transparent;
    height: 30px;
}

#foto {
    border: none;
}

#ver {
    width: 16px;
    height: 30px;
    cursor: pointer;
    margin-top: 6px;
    float: right;
    display: flex;
    text-decoration: underline;
    color: rgb(0, 63, 139);
    position: absolute;
    margin-left: 17em;
}

#oculto {
    display: none;
    width: 16px;
    height: 30px;
    cursor: pointer;
    margin-top: 6px;
    float: right;
    text-decoration: underline;
    color: rgb(0, 63, 139);
    position: absolute;
    margin-left: 17em;
}

 /* #senha:focus~#ver{
     display: flex; 
}   */



select {
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    height: 30px;
    border: none;
    border-bottom: 1px solid dashed black;
    outline: none;

}

option {
    font-size: 18px;
    background-color: #ddd;
}

#Cadastrar, .enviar {
    border: 1px solid transparent;
    background-color: #063;
    width: 60%;
    height: 40px;
    font-size: 20px;
    color: black;
    margin-left: 55px;
    transition: transform, 1s;
    border-radius: 10px;
    cursor: pointer;
}

#Cadastrar:hover {
    background-color: rgb(11, 50, 25);
    transform: scale(1.2);
    color: white;
}









* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(20, 130, 247);
    padding: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
}
nav a {
    color: white;
    font-size: 19px;
    margin-left: 25px;
    transition: color, 1s;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.43);
}

footer {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(20, 130, 247);
    padding: 20px;
    margin-top: 80px;

}
 