* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54587.avif);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.765);
    padding: 15px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3vw;
}
 

nav h1 {
    color: white;
    float: right;

}

nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

figure {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

nav img {
    width: 100%;
    transition: transform, 1s;
    border-radius: 100%;
}

nav img:hover {
    width: 100%;
    transform: rotate(360deg);
    /* transform: scale(2); */
    cursor: pointer;
}

main {
    justify-content: center;
    align-items: center;
    display: flex;
}

div {
    margin-top: 20%;


}
div button{
    background-image: radial-gradient(circle,#0272BA, #014181);
    width: 150px;
    outline: none;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid white;
    transition: background-image, 2s;
}
div button:hover{
    background-image: radial-gradient(circle,  #014181,#0272BA);
    /* transform: scale(1.2); */
}

div a {
    text-decoration: none; 
    text-align: center;
    color: black;
    border-radius: 10px;
    width: 100%;
    color: white;
    display: block;
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
}   

footer{
    background-color:  rgba(0, 0, 0, 0.765);
    margin-top: 270px;
    padding: 40px;
    color: white;
}
h3{
     text-align: center;
}
 p{
    text-align: center;
    float: right;
}  

