#modal2 {
    padding: 10px;
    position: fixed;
    border-radius: 5px;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: animate;
    animation-duration: 800ms;
}
@keyframes animate{
    from{ opacity: 1;}
    from{ opacity: 0;}
}

#modal2 form {
    padding: 30px 10px 10px 10px;
    background-color: #ddd;
    width: 40vh;
    margin: 70px auto auto auto;
}

#modal2 input {
    width: 100%;
    height: 20px;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

#modal2 h1 {
    color: white;
}

#modal2 label {
    float: left;
}

select {
    width: 100%;
    height: 20px;
    background-color: transparent;
    margin-top: 10px;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}


#modal2 #enviar {
    border: 1px solid transparent;
    background-color: #063;
    width: 60%;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
     
}

/* #modal2 #enviar:hover {
    background-color: rgb(11, 50, 25);
    cursor: pointer;
    transform: scale(1.2);
    transition: all, 1s ease-out;
} */

#fechar2 {
    float: right;
    cursor: pointer;
    margin-right: -10px;
    margin-top:-30px;
    padding: 5px;
    transition: color,background ,1s;
}
#fechar2:hover {
     color:white;
     background-color: red;
}


#modal2 #ver2 {
    width: 16px;
    height: 30px;
    cursor: pointer;
    margin-top: -27px;
    float: right;
    display: flex;
    text-decoration: underline;
    color: rgb(0, 63, 139);
    margin-left: 37vh;
    position: absolute;
    cursor: pointer;
}

#modal2 #oculto2 {
    display: none;
    width: 16px;
    height: 30px;
    cursor: pointer;
    margin-top: -27px;
    float: right;
    text-decoration: underline;
    color: rgb(0, 63, 139);
    position: absolute;
    margin-left: 37vh;
    cursor: pointer;
}