*{
    padding: 0;
    margin: 0;
}

.div_tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    background-color: #ddd;
    margin: 60px;
    border-radius: 10px 10px 1px 1px;

}

td {
    border: 0px solid black;
    padding: 20px;
    height: 40px;
    width: 150px;

}

th {
    background-color: rgb(20, 130, 247);
    border: 0px solid black;
    padding: 17px;
    color: white;

}

.border {
    border-top-left-radius: 15px;
}

main h1 {
    text-align: center;
    margin-top: 15px;
}

.adicionar {
    background-color: rgb(31, 115, 225);
    padding: 10px;
    padding: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    transition:  background-color ,1s;
}

.Deletar {
    background-color: red;
    padding: 5px;
    padding: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 1px;
    text-decoration: none;
    color: white;
    transition: background-color ,1s;
}
.adicionar:hover {
    background-color: rgb(21, 73, 142);
}

.Deletar:hover {
    background-color: rgb(117, 19, 19);
}











header {
    background-color: rgb(20, 130, 247);
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: auto;
}
nav a {
    color: white;
    font-size: 19px;
    transition: color, 1s;  
    margin: auto;
    text-decoration: none;
}
 
 

 

nav a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.43);
}

footer {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(20, 130, 247);
    padding: 20px;
    margin-top: 150px;
}
 









 
.img{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    float: left;
    border-radius: 100%;
    margin-right: 10px;
}
img,a{
    width: 40px;
     height: 40px;
     border-radius: 100%;
     transition: all 1s;
}
.div_links{
    width: 60%;
    margin: auto;
}
 
.sair{
   margin-right: 30px; 
   float: right;
}
.link{
    margin-right: 50px;
    float: right;
}

.div_name_img{
    display: flex;
    align-items: center;
    float: left;
    width: 40%;
    margin: auto;
}
 
 


.img_a{
    display: flex;
    align-items: center;
    float: right;
}

figcaption{
    font-size: 16px;
}



@media (max-width:700px){
   
    figcaption{
        display: none;
    }
     
}

 
